.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 200px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  
  display:inline-block;
}

.panel-body .my-restaurant .restaurantImage{
  max-height: 50px;
}

.my-restaurant{
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.ranking-item{
  margin-bottom: 15px;
}

.user-item{
  margin-bottom: 15px;
}

.user-item img{
  width: 128px;
  height: 128px;
}
